@import "./variables.scss";
@import "./fonts.scss";

.button {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
  border-radius: 100px;
  color: #fff;
  text-transform: uppercase;

  background-color: $yellow;
  border: none;
  transition: $transition-duration;

  -webkit-box-shadow: 0 5px 20px 0 rgba(90,66,9,0.5);
  -moz-box-shadow: 0 5px 20px 0 rgba(90,66,9,0.5);
  box-shadow: 0 5px 20px 0 rgba(90,66,9,0.5);

  &:hover {
    box-shadow: 0 5px 20px 0 $yellow;
    cursor: pointer;
  }
}
