@import "./variables.scss";
@import "./fonts.scss";

.payment {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bg-payment-color;
  height: 460px;

  &__content {
    display: flex;
    justify-content: space-between;
    height: 330px;
    width: 100%;
  }

  &__info {
    width: 540px;
    height: 325px;

    font-family: "Open Sans", Arial, Helvetica, sans-serif;
  }

  &__title {
    margin-bottom: 30px;
    color: $text-color;
    font-size: 35px;
    font-weight: 300;
    line-height: 45px;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: $text-color;
  }

  &__image {
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(0,0,0, 0.25);
  }
}

@media screen and (min-width: $tablets-small) and (max-width: $tablets-big) {
  .payment {
    height: 344px;
    box-sizing: border-box;
    padding: 40px 39px;
    align-items: initial;

    &__content {
      height: 264px;
    }

    &__info {
      width: 390px;
      height: 264px;
    }

    &__title {
      font-size: 25px;
      line-height: 35px;
      margin-bottom: 22px;
    }

    &__subtitle {
      font-size: 14px;
      height: 173px;
      line-height: 22px;
      letter-spacing: -0.03em;
    }

    &__image {
      width: 270px;
      height: 188px;
      line-height: 22px;
    }
  }
}

@media screen and (min-width: $phone-small) and (max-width: $phone-big) {
  .payment {
    height: 698px;
    box-sizing: border-box;
    padding: 40px 42px;
    align-items: initial;

    &__content {
      height: 618px;
      min-width: 240px;
      flex-direction: column;
      align-items: center;
    }

    &__info {
      width: 240px;
      height: 429px;
    }

    &__title {
      font-size: 25px;
      line-height: 35px;
    }

    &__subtitle {
      font-size: 14px;
      height: 305px;
      line-height: 22px;
      letter-spacing: -0.03em;
    }

    &__image {
      width: 240px;
      height: 167px;
    }
  }
}

@media screen and (min-width: $laptop-big) {
  .payment__title {
    opacity: 0.4;
  }
}
