html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

body,
p,
h1,
h2,
h3,
input,
button {
  margin: 0;
  outline: none;
}

body {
  overflow: hidden;
}

a {
  outline: none;
  color: #fff;
  text-decoration: none;
}
