html {
  scroll-behavior: smooth;
  // overflow: hidden;
}

body,
p,
ul,
h1,
h2,
h3,
input,
button {
  margin: 0;
  outline: none;
}

input {
  border: none;
}

textarea {
  resize: none;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  overflow-x: hidden;
}

button {
  padding: 0;
}

a {
  outline: none;
  color: #fff;
  text-decoration: none;
}
