$blue: #446a82;
$bg-payment-color: #f8f8f8;
$yellow: #fdb913;
$text-color: #2d2d2d;

$transition-duration: 0.8s;
$parallax-resolution: 1199px;

$tablets-small: 768px;
$tablets-big: 1199px;

$laptop-small: 1200px;
$laptop-big: 1599px;

$notebook: 1024px;
$notebook-mw: 1000px;

$phone-small: 300px;
$phone-big: 767px;
